@import "./variables";
@import "./mixines";

* {
    font-family: 'Nunito', sans-serif!important;
}

/* Mobile 375px*/
/* header */
.header-top-wraper {
    background-color: $main-color;
    @include flex-center;
    .header-top {
        @include flex-space-between;
        height: 55px;
        margin: 0 20px;
        width: 375px;
    }
    .contacts {
        height: 20px;
        width: 100px;
        @include flex-space-between;
        p {
            display: none;
        }
    }
    .contact-item:first-child span{
        content: url(img/icon/Mail.svg);
        cursor: pointer;
    }
    .contact-item:nth-child(2) span{
        content: url(img/icon/Phone-call.svg);
        cursor: pointer;
    }
    .contact-item:last-child span{
        content: url(img/icon/Location.svg);
        cursor: pointer;
    }
    .lang {
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.37px;
        cursor: pointer;
        span {
            content: url(img/icon/Arrow.svg);
            margin-left: 5px;
            margin-bottom: 1px;
        }
    }
}
.header-bottom-wraper {
    @include flex-center;
}
.header-bottom {
    @include flex-space-between;
    height: 70px;
    margin: 0 15px;
    width: 375px;
    .logo {
        height: 40px;
        a {
            content: url(img/LOGO.png);
        }
    }
    .menu-wraper {
        @include flex-space-between;
        width: 110px;
        height: 34px;
        .header-menu {
            display: none;
        }
        .mobile-menu {
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            margin-left: 40px;
            flex-direction: column;
            justify-content: space-evenly;
            div {
                height: 2px;
                width: 30px;
                border-radius: 5px;
                background-color: rgba(0, 115, 12, 1);
            }
            div:last-child {
                width: 18px;
                transition: all 0.5s;
            }
            &:hover div:last-child {
                width: 30px;
            }
            }
    }
    .call-back-wraper {
        .call-back {
            content: url(img/icon/Text-&-Icon.svg);
            height: 20px;
            width: 20px;
        }
        width: 40px;
        height: 34px;
        border-radius: 10px;
        background-color: $second-color;
        @include flex-center;
        cursor: pointer;
        p {
            display: none;
        }
    }
}
/* header end */

/* hero section */
.hero-wraper {
    @include flex-center;
    flex-direction: column;
    background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}

.container {
    width: 375px;
    .content-wraper {
        margin: 0 15px;
        position: relative;
    }
    .plant-bg {
        content: url(img/BG-Img.png);
        position: absolute;
        left: -16px;
        bottom: -35px;
    }
    .hero-text {
        margin-top: 50px;
        .planting-text {
            span {
                content: url(img/Vector.svg);
                margin-right: 5px;
            }
            font-size: 14px;
            font-weight: 700;
            line-height: 19.1px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .title {
            font-size: 28px;
            font-weight: 700;
            line-height: 38.19px;
            color: $first-color;
            margin-bottom: 15px;
            span {
                color: $second-color;
            }
        }
        .text {
            color: $first-color;
            @include regular-font();
        }
    }
    .btn-wraper {
        margin: 40px 0;
        @include flex-center;
        flex-direction: column;
        .btn {
            color: white;
            margin-bottom: 19px;
            width: 303px;
            height: 44px;
            border-radius: 5px;
            background-color: $second-color;
            border: none;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
        }
        .info {
            @include flex-center;
            a {
                text-decoration: none;
                color: $second-color;
                font-size: 14px;
                font-weight: 600;
                line-height: 19.1px;
            }
            span {
                content: url(img/icon/arrow-btn.svg);
                margin-left: 12px;
            }
        }
    }
    .customer-info {
        display: flex;
        justify-content: flex-end;
        gap: 11px;
        margin-bottom: 35px;
        .customer-item {
            @include flex-center;
            width: 133px;
            height: 32px;
            padding: 8px, 10px, 8px, 10px;
            border-radius: 32px;
            background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
            color: $first-color;
            &:last-child {
                display: none;
            }
            span {
                margin-right: 8px;
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                color: $first-color;
            }
        }
    }
}

/* Tablet */

@media (min-width: 768px) {
    
}

/* Desktop */

@media (min-width: 1080px) {
    /* header */
    .header-top-wraper {
        .header-top {
            height: 59px;
            width: 1420px;
            .contacts {
                width: 739px;
                height: 25px;
                p {
                    display: inline;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
            .contact-item {
                color: white;
                @include flex-center;
            }
            .contact-item span {
                margin-right: 10px;
            }
        }
    }
    .header-bottom {
        width: 1410px;
        height: 85px;
        .logo {
            height: 55px;
            content: url(img/logo-main.png)
        }
        .menu-wraper {
            @include flex-space-between;
            width: 898px;
            .header-menu {
                display: block;
                ul {
                    @include flex-space-between;
                    width: 627px;
                    height: 20px;
                    li {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                        color: $first-color;
                        cursor: pointer;
                        span {
                            content: url(img/icon/arrow-black.svg);
                            margin-left: 5px;
                            margin-bottom: 1px;
                        }
                        &:hover {
                            color: $second-color;
                            span {
                                content: url(img/icon/arrow-green.svg);
                            }
                        }
                    }
                    
                }
            }
            .mobile-menu {
                display: none;
            }
        }
        .call-back-wraper {
            width: 170px;
            height: 50px;
            border-radius: 5px;
            background-color: $second-color;
            @include flex-center;
            cursor: pointer;
            padding: 10px, 35px, 10px, 35px;
            .call-back {
                height: 30px;
                width: 30px;
            }
            p {
                display: inline;
                color: white;
                margin-left: 10px;
            }
        }
    }

    /* hero section */
    .hero-wraper {
        flex-direction: row-reverse;
        align-items: normal;
        position: relative;
        .mobile-hero-img {
            img {
                display: none;
            }
            content: url(img/hero-img-desc.jpg);
            position: absolute;
            bottom: 0;
            right: 0;
            }
        }
    .container {
        width: 1410px;
        .content-wraper {
            width: 570px;
            margin: 0;
        }
        .plant-bg {
            display: none;
        }
        .plant-bg-desk {
            content: url(img/plant-desc.png);
            position: absolute;
            bottom: -60px;
            left: -250px;
        }
        .hero-text {
            margin-top: 166px;
            .planting-text {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                margin-bottom: 20px;
            }
            .title {
                font-size: 58px;
                font-weight: 800;
                line-height: 79px;
                margin-bottom: 20px;
            }
            .text {
                color: $text-color;
                @include regular-font-desc();
            }
        }
        .btn-wraper {
            margin: 50px 0;
            flex-direction: row;
            justify-content: normal;
            align-items: normal;
            .btn {
                margin-bottom: 0;
                margin-right: 30px;
                width: 175px;
                height: 50px;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
            }
            .info {
                @include flex-center;
                a {
                    color: $text-color;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 30px;
                }
                span {
                    content: url(img/icon/arrow-btn-desc.svg);
                }
            }
        }
        .customer-info {
            justify-content: normal;
            gap: 10px;
            margin-bottom: 100px;
            .customer-item {
                width: 149px;
                height: 50px;
                padding: 0;
                border-radius: 0;
                background: none;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                color: $first-color;
                &:last-child {
                    display: flex;
                }
                span {
                    display: block;
                    padding: 15px 7px 15px 7px;
                    border-radius: 35px;
                    margin-right: 10px;
                    font-size: 15px;
                    line-height: 20px;
                    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
                }
            }
        }
    }
}