* {
  font-family: "Nunito", sans-serif !important;
}

/* Mobile 375px*/
/* header */
.header-top-wraper {
  background-color: #0C4B35;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-wraper .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin: 0 20px;
  width: 375px;
}
.header-top-wraper .contacts {
  height: 20px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-wraper .contacts p {
  display: none;
}
.header-top-wraper .contact-item:first-child span {
  content: url(img/icon/Mail.svg);
  cursor: pointer;
}
.header-top-wraper .contact-item:nth-child(2) span {
  content: url(img/icon/Phone-call.svg);
  cursor: pointer;
}
.header-top-wraper .contact-item:last-child span {
  content: url(img/icon/Location.svg);
  cursor: pointer;
}
.header-top-wraper .lang {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  cursor: pointer;
}
.header-top-wraper .lang span {
  content: url(img/icon/Arrow.svg);
  margin-left: 5px;
  margin-bottom: 1px;
}

.header-bottom-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 15px;
  width: 375px;
}
.header-bottom .logo {
  height: 40px;
}
.header-bottom .logo a {
  content: url(img/LOGO.png);
}
.header-bottom .menu-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 34px;
}
.header-bottom .menu-wraper .header-menu {
  display: none;
}
.header-bottom .menu-wraper .mobile-menu {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 40px;
  flex-direction: column;
  justify-content: space-evenly;
}
.header-bottom .menu-wraper .mobile-menu div {
  height: 2px;
  width: 30px;
  border-radius: 5px;
  background-color: rgb(0, 115, 12);
}
.header-bottom .menu-wraper .mobile-menu div:last-child {
  width: 18px;
  transition: all 0.5s;
}
.header-bottom .menu-wraper .mobile-menu:hover div:last-child {
  width: 30px;
}
.header-bottom .call-back-wraper {
  width: 40px;
  height: 34px;
  border-radius: 10px;
  background-color: #00730C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-bottom .call-back-wraper .call-back {
  content: url(img/icon/Text-&-Icon.svg);
  height: 20px;
  width: 20px;
}
.header-bottom .call-back-wraper p {
  display: none;
}

/* header end */
/* hero section */
.hero-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}

.container {
  width: 375px;
}
.container .content-wraper {
  margin: 0 15px;
  position: relative;
}
.container .plant-bg {
  content: url(img/BG-Img.png);
  position: absolute;
  left: -16px;
  bottom: -35px;
}
.container .hero-text {
  margin-top: 50px;
}
.container .hero-text .planting-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.1px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.container .hero-text .planting-text span {
  content: url(img/Vector.svg);
  margin-right: 5px;
}
.container .hero-text .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 38.19px;
  color: #212529;
  margin-bottom: 15px;
}
.container .hero-text .title span {
  color: #00730C;
}
.container .hero-text .text {
  color: #212529;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.container .btn-wraper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .btn-wraper .btn {
  color: white;
  margin-bottom: 19px;
  width: 303px;
  height: 44px;
  border-radius: 5px;
  background-color: #00730C;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.container .btn-wraper .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .btn-wraper .info a {
  text-decoration: none;
  color: #00730C;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.1px;
}
.container .btn-wraper .info span {
  content: url(img/icon/arrow-btn.svg);
  margin-left: 12px;
}
.container .customer-info {
  display: flex;
  justify-content: flex-end;
  gap: 11px;
  margin-bottom: 35px;
}
.container .customer-info .customer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 32px;
  padding: 8px, 10px, 8px, 10px;
  border-radius: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #212529;
}
.container .customer-info .customer-item span {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: #212529;
}

/* Tablet */
/* Desktop */
@media (min-width: 1080px) {
  /* header */
  .header-top-wraper .header-top {
    height: 59px;
    width: 1420px;
  }
  .header-top-wraper .header-top .contacts {
    width: 739px;
    height: 25px;
  }
  .header-top-wraper .header-top .contacts p {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  .header-top-wraper .header-top .contact-item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-top-wraper .header-top .contact-item span {
    margin-right: 10px;
  }
  .header-bottom {
    width: 1410px;
    height: 85px;
  }
  .header-bottom .logo {
    height: 55px;
    content: url(img/logo-main.png);
  }
  .header-bottom .menu-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 898px;
  }
  .header-bottom .menu-wraper .header-menu {
    display: block;
  }
  .header-bottom .menu-wraper .header-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 627px;
    height: 20px;
  }
  .header-bottom .menu-wraper .header-menu ul li {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #212529;
    cursor: pointer;
  }
  .header-bottom .menu-wraper .header-menu ul li span {
    content: url(img/icon/arrow-black.svg);
    margin-left: 5px;
    margin-bottom: 1px;
  }
  .header-bottom .menu-wraper .header-menu ul li:hover {
    color: #00730C;
  }
  .header-bottom .menu-wraper .header-menu ul li:hover span {
    content: url(img/icon/arrow-green.svg);
  }
  .header-bottom .menu-wraper .mobile-menu {
    display: none;
  }
  .header-bottom .call-back-wraper {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #00730C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px, 35px, 10px, 35px;
  }
  .header-bottom .call-back-wraper .call-back {
    height: 30px;
    width: 30px;
  }
  .header-bottom .call-back-wraper p {
    display: inline;
    color: white;
    margin-left: 10px;
  }
  /* hero section */
  .hero-wraper {
    flex-direction: row-reverse;
    align-items: normal;
    height: 719px;
    position: relative;
  }
  .hero-wraper .mobile-hero-img {
    content: url(img/hero-img-desc.jpg);
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .hero-wraper .mobile-hero-img img {
    display: none;
  }
  .container {
    width: 1410px;
  }
  .container .content-wraper {
    width: 570px;
    margin: 0;
  }
  .container .plant-bg {
    display: none;
  }
  .container .hero-text {
    margin-top: 166px;
  }
  .container .hero-text .planting-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .container .hero-text .title {
    font-size: 58px;
    font-weight: 800;
    line-height: 79px;
    margin-bottom: 20px;
  }
  .container .hero-text .text {
    color: #676767;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .container .btn-wraper {
    margin: 50px 0;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
  }
  .container .btn-wraper .btn {
    margin-bottom: 0;
    margin-right: 30px;
    width: 175px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  .container .btn-wraper .info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .btn-wraper .info a {
    color: #676767;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
  }
  .container .btn-wraper .info span {
    content: url(img/icon/arrow-btn-desc.svg);
  }
  .container .customer-info {
    justify-content: normal;
    gap: 10px;
  }
  .container .customer-info .customer-item {
    width: 149px;
    height: 50px;
    padding: 0;
    border-radius: 0;
    background: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #212529;
  }
  .container .customer-info .customer-item span {
    display: block;
    padding: 15px 7px 15px 7px;
    border-radius: 35px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 20px;
    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
  }
}/*# sourceMappingURL=style.css.map */